name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Take the code
      - uses: actions/checkout@v3

      # 2. Login to Docker Hub
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build Docker image (give number)
      - run: docker build -t chetanasivadurga/ai-devops:${{ github.run_number }} .

      # 4. Push to Docker Hub
      - run: |
          docker tag chetanasivadurga/ai-devops:${{ github.run_number }} chetanasivadurga/ai-devops:latest
          docker push chetanasivadurga/ai-devops:${{ github.run_number }}
          docker push chetanasivadurga/ai-devops:latest 

      # Deploy to EC2
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull chetanasivadurga/ai-devops:latest
            docker stop ai-devops || true
            docker rm ai-devops || true
            docker run -d -p 3000:3000 --name ai-devops chetanasivadurga/ai-devops:latest
