name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Take the code
      - uses: actions/checkout@v3

      # 2. Login to Docker Hub
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build Docker image (give number)
      - run: docker build -t chetanasivadurga/ai-devops:${{ github.run_number }} .

      # 4. Push to Docker Hub
      - run: |
          docker tag chetanasivadurga/ai-devops:${{ github.run_number }} chetanasivadurga/ai-devops:latest
          docker push chetanasivadurga/ai-devops:${{ github.run_number }}
          docker push chetanasivadurga/ai-devops:latest
